*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(203, 218, 231);
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5;

    max-width: 1080px;
}

.container{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.logo{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.blue-logo{
    color: rgb(41, 41, 165);
}

/* NAV starts here */
header{
    background-color:rgb(236, 238, 241);
    padding: 15px 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-in-button{
    background-color: rgb(41, 41, 165);
    color: white;

    padding: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

nav ul{
    list-style-type: none;

    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-weight: bold;
}

nav ul li a{
    text-decoration: none;

    color: #000000;
    font-weight: bold;
    font-size: 12;
}

/* BODY starts here */

main {
    display: flex;
    flex-direction: column; 
}

.hero-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;


    width: 90%;
    max-width: 1080px;
    margin: 0 auto;

    background-color: #E0E6FF;
}

.steps-container{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    max-width: 1000px;
    margin: 0 auto;
}


.steps-content{
    flex: 1;
    margin-right: 20px;

    background-color: white;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}

.steps-content:last-child{
    margin-right: 0;
}

.manifest-tag{
    padding: 10px;
    background-color: plum;
    color: #000000;
    border-radius: 15px;
}


.introduction-image{
    
}


.tutor-list{
    list-style-type: none;
    padding: 0%;

    display: flex;
    justify-content: space-around;

    margin: 40px auto;
    max-width: 1000px;
}

.tutor-card{
    flex: 1;
    background-color: white;
    padding: 30px;
    border-radius: 12px;

    margin: 10px;
    
    text-align: center;
    box-shadow: 0 15px 15px rgba(10, 10, 10, 0.05);
}

.student-review-container {
    display: flex;
    justify-content: space-around; 
    
    margin-top: 50px; 
    padding-bottom: 50px;
    
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.review-box {
    flex: 1; 
    margin: 0 15px; 
    
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}


/* FOOTER starts here */

footer{
    background-color: #edeef1;
    color: black;

    display:block;
    padding: 15px 5%;

    border-top: 2px solid black;

    align-items: flex-start;
}

.footer-student-information{
    margin-bottom: 10px;
    font-size: 15px;

}

.footer-student-information ul{
    list-style-type: none;
    padding: 0px;
}

.socials{
    display: flex;
    justify-content:flex-end;

    gap: 10px;
}

.socials a img{
    width: 25px;
    height: 25px;
}














